body {
    background: color #01c3dd;
}

h1 {
    color:rgb(3, 110, 21);
    text-align:center;
}

p {
    font-family:"Times New Roman";
    font-size:20px;
    text-align:center;
}


img{

    text-align:center;

}